body{
    font-family: 'league spartan';
    color: #ffa511;
    text-align: center;
    text-decoration:underline double teal ;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}