#container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: orange;
}
#eye1{
    width: 25px;
    height:25px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 50px;
    left: 50px;
}
#eye2{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 25px;
    left: 125px;
}
#mouth{
    width: 100px;
    height: 50px;
    background-color: brown;
    position: relative;
    top: 70px;
    left: 50px;
    border-radius: 0 0 50px 50px;
}