body {
    background-color: skyblue;
}
div {
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: orange;
    color: #1E1B40;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

    transition: width 5s;
}
#div1 {
    transition-timing-function: linear;
}
#div2 {
    transition-timing-function: ease;
}
#div3 {
    transition-timing-function: ease-in;
}
#div4 {
    transition-timing-function: ease-out;
}
#div5 {
    transition-timing-function: ease-in-out;
}
div:hover {
    width: 1000px;
}